.create-form-main{
	text-Align: center;
    margin-top: 15px;
}
.create-form-child{
	display: inline-block;
    marginLeft: 5px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 364px;
}
.grid-list {
	width: 80%;
	overflow-y: auto;
}